<button id="main-nav-open-btn" class="main-nav-open-btn" type="button">
          <span class="icon icon--hamburger">
            <span></span>
            <span></span>
            <span></span>
          </span>
	<span class="fallback-text">{{ 'layout.menu.open_menu' | t }}</span>
</button>
<div id="main-nav" class="drawer drawer--left-side drawer--menu close">
	<div class="logo-container">
		<!-- Store description -->
		{% if settings.header_store_description_left != blank %}
			<span class="store-desc">{{ settings.header_store_description_left }}</span>
		{% endif %}
		<!-- End store description -->

		{% include 'logo' %}

		<!-- Store description -->
		{% if settings.header_store_description_right != blank %}
			<span class="store-desc">{{ settings.header_store_description_right }}</span>
		{% endif %}
		<!-- End store description -->
	</div>
	<!-- Store description -->
	{% comment %}{% unless section.settings.header_mobile_logo_disable %}
	{% if section.settings.header_store_description_left != blank or section.settings.header_store_description_right != blank %}
		<span class="store-desc store-desc--mobile">{% if section.settings.header_store_description_left != blank %}{{ section.settings.header_store_description_left }}<br>{% endif %}{% if section.settings.header_store_description_right != blank %}{{ section.settings.header_store_description_right }}{% endif %}</span>
	{% endif %}
	{% endunless %}{% endcomment %}
	<!-- End store description -->

	<div class="drawer__wrapper">
		<div class="drawer__header">

			{% include 'logo' %}

			<button class="drawer__btn-close" type="button">
				<span class="icon icon--close"></span>
				<span class="fallback-text">{{ 'layout.menu.close_menu' | t }}</span>
			</button>

		</div> <!-- end drawer__header -->

		<ul class="nav-list">
			{% comment %}  Menu with submenu level 2 and level 3  {% endcomment %}

			{% assign mega_menu_settings = linklists[section.settings.collection_link].title | handle %}

			{% for link in linklists.main-menu.links %}
				{% comment %}
				Assign the variable for marking active link
				- https://ecommerce.shopify.com/c/ecommerce-design/t/current-page-menu-highlighting-help-26714
				{% endcomment %}
				{% assign active = false %}
				{% if template == 'index' and link.url == '/' %}
					{% assign active = true %}
					{% elsif collection.url == link.url %}
					{% assign active = true %}
					{% elsif blog.url == link.url %}
					{% assign active = true %}
					{% elsif page.url == link.url %}
					{% assign active = true %}
					{% elsif page_title == link.title %}
					{% assign active = true %}
					{% elsif template == 'list-collections' and link.url == '/collections' %}
					{% assign active = true %}
					{% elsif page_title == 'Products' and link.url == '/collections/all' %}
					{% assign active = true %}
					{% elsif template == 'article' and link.url == article.url %}
					{% assign active = true %}
				{% endif %}

				{% assign child_list_handle = link.title | handle %}
				{% assign second_level_menu = false %}
				{% assign third_level = false %}

				{% if linklists[child_list_handle] and linklists[child_list_handle].links.size > 0 %}
					{% assign second_level_menu = true %}
				{% endif %}

				{% if second_level_menu %}
					{% for child_link in linklists[child_list_handle].links %}

						{% assign grand_child_list_handle = child_link.title | handle %}
						{% if linklists[grand_child_list_handle] and linklists[grand_child_list_handle].links.size > 0 %}
							{% assign third_level = true %}
						{% endif %}

					{% endfor %}
				{% endif %}


				{% if second_level_menu %}

					<li class="nav-list__item {% if active %}active{% endif %} has-dropdown {% if third_level == true %} has-dropdown--tertiary{% endif %} {% if child_list_handle == mega_menu_settings and section.settings.main_menu_collection_enable and section.settings.main_menu_collections != blank %} nav-list__item--mega {% endif %}">
						<a class="nav-list__link" href="{{ link.url }}">{{ link.title }}</a>
						<span class="icon--plus-small js-collapse"></span>

						<!-- Secondary menu level -->
						<ul class="nav-list__dropdown {% unless third_level == true %}nav-list__dropdown--secondary{% endunless %}">

							{% if child_list_handle == mega_menu_settings and section.settings.main_menu_collection_enable and section.settings.main_menu_collections != blank %}

								{% assign collections_list = section.settings.main_menu_collections | split: ',' %}
								{% for list_item in collections_list %} {% comment %} Start second level menu for loop {% endcomment %}

									{% assign list_item_adj = list_item | handle %}

									{% for collect in collections %} {% comment %} Checking if name from custom field matches collection name {% endcomment %}
										{% assign collect_title = collect.title | handle %}
										{% if collect_title ==  list_item_adj %}
											{% assign collection_menu = collections[collect.handle] %}
										{% endif %}
									{% endfor %}

									{% if collection_menu != empty %}

										<li class="nav-list__item nav-list__item--add">
											<a class="nav-list__link" href="{{ collection_menu.url }}">
												<div class="img-holder img-holder--block nav-list__image">
													<img src="{{ collection_menu.image.src | img_url: 'small' }}" alt="">
												</div>
												<h3 class="nav-list__title">{{ collection_menu.title }}</h3>
												<p class="nav-list__desc">{{ collection_menu.description | truncatewords: 25 }}</p>
											</a>
										</li>

									{% else %}
										{{"There is no collection called '"}} {{ list_item }} {{"' <br>"}}
									{% endif %}

								{% endfor %} {% comment %} End second level menu for loop {% endcomment %}

							{% else %}
								{% for child_link in linklists[child_list_handle].links %}

									{% assign grand_child_list_handle = child_link.title | handle %}
									{% if linklists[grand_child_list_handle] and linklists[grand_child_list_handle].links.size > 0 %}

										<li class="nav-list__item has-dropdown">
											<a class="nav-list__link" href="{{ child_link.url }}">{{ child_link.title }}</a>
											<span class="icon--plus-small js-collapse"></span>
											<!-- Third menu level -->
											<ul class="nav-list__dropdown">
												{% for grand_child_link in linklists[grand_child_list_handle].links %}
													<li class="nav-list__item">
														<a class="nav-list__link" href="{{ grand_child_link.url }}">{{ grand_child_link.title }}</a>
													</li>
												{% endfor %}
											</ul>
											<!-- end third menu level -->
										</li>

									{% else %}
										<li class="nav-list__item">
											<a class="nav-list__link" href="{{ child_link.url }}">{{ child_link.title }}</a>
										</li>
									{% endif %} {% comment %} End if statetment for third level menu {% endcomment %}

								{% endfor %} {% comment %} End for loop second level menu {% endcomment %}


							{% endif %}
						</ul>
						<!-- end secondary menu level -->
					</li>

				{% else %}

					<li class="nav-list__item {% if active %}active{% endif %}">
						<a class="nav-list__link" href="{{ link.url }}">{{ link.title }}</a>
					</li>

				{% endif %}

			{% endfor %}

			<!-- Menu search  -->
			<li class="nav-list__item nav-list__item--search has-dropdown">
				<a class="nav-list__link" href="/search">{{ 'layout.search.heading' | t }}</a>
				<span class="icon--plus-small js-collapse"></span>
				<!-- Secondary menu level -->
				<ul class="nav-list__dropdown">
					<li class="nav-list__item">
						<div class="form-wrapper">
							<form action="/search" method="GET" class="form form--inverse" role="search">
								{% if settings.search_type == 'products' %}
									<input type="hidden" name="type" value="product" />
								{% endif %}
								<div class="form__row">
									<input type="text" name="q" class="form__field" placeholder="{{ 'layout.search.placeholder' | t }}" autocomplete="off">
								</div>
								<div class="form__row form__row--submit">
									<input type="submit" class="btn btn--submit" value="{{ 'layout.search.button' | t }}">
								</div>
							</form>
						</div>
					</li>
				</ul>
				<!-- end secondary menu level -->
			</li>
			<!-- End menu search -->

			{% if settings.show_multiple_currencies == true %}
				<li class="nav-list__item nav-list__item--currency">
					<a class="nav-list__link" href="javascript:void(0);">{{ 'layout.menu.currency' | t }}</a>
					{% comment %}
					Dropdown for currency
					{% endcomment %}
					{% include 'currency-picker' %}
				</li>
			{% endif %}

			<li class="nav-list__item nav-list__item--divider"></li>

			{% if shop.customer_accounts_enabled %}

				{% if customer %}
					<li class="nav-list__item has-dropdown {% if template contains 'customers' %}active {% endif %}">
						<a class="nav-list__link" href="/account">{{ 'layout.menu.view_account' | t }}</a>
						<span class="icon--plus-small js-collapse"></span>
						<!-- Secondary menu level -->
						<ul class="nav-list__dropdown nav-list__dropdown--secondary">
							<li class="nav-list__item">
								<a class="nav-list__link" href="/account">{{ 'layout.menu.orders' | t }}</a>
							</li>
							<li class="nav-list__item">
								<a class="nav-list__link" href="/account/addresses" title="{{ 'layout.menu.addresses' | t }}">{{ 'layout.menu.addresses' | t }}</a>
							</li>
							{% if settings.wishlist_enable %}
								<li class="nav-list__item">
									<a class="nav-list__link" href="/pages/wishlist" title="{{ 'layout.menu.wishlist' | t }}">{{ 'layout.menu.wishlist' | t }}</a>
								</li>
							{% endif %}
							<li class="nav-list__item nav-list__item--logout-desktop">
								<a class="nav-list__link" href="/account/logout"  title="{{ 'customer.login.logout' | t }}">{{ 'customer.login.logout' | t }}</a>
							</li>
						</ul>
					</li>
					<li class="nav-list__item nav-list__item--logout">
						<a class="nav-list__link" href="/account/logout" title="{{ 'customer.login.logout' | t }}">{{ 'customer.login.logout' | t }}</a>

					</li>
				{% else %}
					<li class="nav-list__item nav-list__item--creat-account has-dropdown">
						<a class="nav-list__link" href="#">{{ 'layout.menu.create_account' | t }}</a>
						<span class="icon--plus-small js-collapse"></span>
						<!-- Secondary menu level -->
						<ul class="nav-list__dropdown">
							<li class="nav-list__item">
								<div class="form-wrapper">
									{% form 'create_customer', class: 'form form--inverse form-validation' %}

									<div class="form__row">
										<label class="label-hide" for="first_name">{{ 'customer.general.first_name' | t }}</label>
										<input class="form__field" id="first_name" type="text" value="" name="customer[first_name]" size="30" placeholder="{{ 'customer.general.first_name' | t }}">
									</div>

									<div class="form__row">
										<label class="label-hide" for="last_name">{{ 'customer.general.last_name' | t }}</label>
										<input class="form__field" id="last_name" type="text" value="" name="customer[last_name]" size="30" placeholder="{{ 'customer.general.last_name' | t }}">
									</div>

									<div class="form__row">
										<label class="label-hide" for="email">{{ 'customer.general.email' | t }}</label>
										<input class="form__field" id="email" type="email" value="" name="customer[email]" size="30" placeholder="{{ 'customer.general.email' | t }}">
									</div>

									<div class="form__row">
										<label class="label-hide" for="password" class="login">{{ 'customer.general.password' | t }}</label>
										<input class="form__field" id="password" type="password" value="" name="customer[password]" size="30" placeholder="{{ 'customer.general.password' | t }}">
									</div>

									<div class="form__row form__row--submit">
										<button class="btn btn--submit" type="submit">{{ 'customer.registration.create_account_button' | t }}</button>
									</div>

									{% endform %}
								</div>
							</li>
						</ul>
						<!-- end secondary menu level -->
					</li>

					<li class="nav-list__item nav-list__item--login {% if template contains 'customers' %}active {% endif %}has-dropdown">
						<a class="nav-list__link" href="/account/login">{{ 'customer.login.heading' | t }}</a>
						<span class="icon--plus-small js-collapse"></span>
						<!-- Secondary menu level -->
						<ul class="nav-list__dropdown">
							<li class="nav-list__item">
								<div class="login-form">
									<div class="form-wrapper form-wrapper--login">
										{% form 'customer_login', class: 'form form--inverse form-validation' %}
										{{ form.errors | default_errors }}

										<div class="form__row">
											<label class="label-hide" for="login_email">{{ 'customer.general.email' | t }}</label>
											<input class="form__field" id="login_email" type="email" value="" name="customer[email]" size="30" placeholder="{{ 'customer.general.email' | t }}">
										</div>

										<div class="form__row">
											<label class="label-hide" for="login_password">{{ 'customer.general.password' | t }}</label>
											<input class="form__field" id="login_password" type="password" value="" name="customer[password]" size="16"  placeholder="{{ 'customer.general.password' | t }}">
										</div>

										<div class="form__row text-center">
											<a class="text-link text-link--form js-forget-password" href="#" alt="{{ 'customer.login.forgot_password' | t }}">{{ 'customer.login.forgot_password' | t }}</a>
										</div>

										<div class="form__row form__row--submit">
											<input type="submit" class="btn btn--submit" value="{{ 'customer.login.login_button' | t }}">
										</div>

										{% endform %}
									</div>

									<div class="form-wrapper form-wrapper--recover-password display-none">
										{% form 'recover_customer_password', class: 'form form--inverse' %}
										{{ form.errors | default_errors }}

										<p class="form__info">{{ 'customer.recover_password.title' | t }}</p>

										{% if form.posted_successfully? %}
											{% assign reset_success = true %}
										{% endif %}

										<div class="form__row">
											<label class="label-hide" for="email">{{ 'customer.recover_password.email' | t }}</label>
											<input class="form__field" id="recover-email" type="email" value="" size="30" name="email" placeholder="{{ 'customer.recover_password.email' | t }}">
										</div>

										<div class="form__row form__row--submit">
											<input type="submit" class="btn btn--submit" value="{{ 'customer.recover_password.button' | t }}">
										</div>

										<div class="form__row form__row--text text-center">
											<button class="text-link text-link--form js-forget-password-cancel" type="button" id="HideRecoverPasswordLink">{{ 'customer.recover_password.cancel' | t }}</button>
										</div>

										{% endform %}
									</div>
								</div>
							</li>

						</ul>
						<!-- end secondary menu level -->
					</li>
				{% endif %}
			{% endif %}
		</ul>
	</div> <!-- end drawer__wrapper -->
</div> <!-- end drawer -->