<style>
	.site-logo > img {
		height: 40px !important;
		display: block;
		margin-left: 0;
	}
</style>

<!-- Shop logo -->
{% if settings.logo_use_image %}
	{% capture logo_img %}{{ settings.logo | img_url: '480x' | format: 'png' }}{% endcapture %}
	<a class="site-logo" href="/">
		{% if logo_img contains 'no-image' %}
			<img src="{{ 'logo.png' | asset_url }}" alt="{{ shop.name }}">
		{% else %}
			<img src="{{ logo_img }}" alt="{{ shop.name }}">

			{% comment %}
			<div class="" style="width: 175.428px;height: 20px;margin-top: -35px;">
				<svg class="icon__svg___cc1CR utilities__block___2NUBz utilities__fullWidth___3kUCi utilities__fullHeight___NZTu9"
					 viewBox="0 0 535.32 61.03" fill="#494949">
					<rect x="522.55" y="45.23" width="26.88" height="26.88" transform="translate(95.83 368.04) rotate(-45)"></rect>
					<path d="M64.52,58.3a16.47,16.47,0,0,0-11-28.75H19.68V87.79H54.41A16.47,16.47,0,0,0,64.52,58.3m-37.11-21H53.52a8.76,8.76,0,1,1,0,17.52H27.41Zm27,42.79h-27V62.54h27a8.76,8.76,0,1,1,0,17.53M360.52,58.3a16.47,16.47,0,0,0-11-28.75H315.68V87.79h34.73a16.48,16.48,0,0,0,10.11-29.5m-37.11-21h26.11a8.76,8.76,0,1,1,0,17.53H323.41Zm27,42.79h-27V62.54h27a8.76,8.76,0,1,1,0,17.53M87.82,29.55h7.73V87.79H87.82Zm323.61-1.39a30.51,30.51,0,1,0,30.52,30.51,30.54,30.54,0,0,0-30.52-30.51m0,53.3a22.78,22.78,0,1,1,22.79-22.78,22.81,22.81,0,0,1-22.79,22.78M180.49,58.67a22.78,22.78,0,0,0,41.59,12.86l2.18-3.19,6.38,4.37-2.18,3.19a30.51,30.51,0,1,1,0-34.46l2.18,3.19L224.26,49l-2.18-3.19a22.78,22.78,0,0,0-41.59,12.86M288.88,29.55h7.73V87.79h-7.73V63.65H253.5V87.79h-7.73V29.55h7.73V55.91h35.37Zm-143.73,33a16.49,16.49,0,0,0,0-33H114.34V87.79h7.73V62.54h9.8L152,87.79h9.89L141.76,62.54ZM122.07,54.8V37.28h23.09a8.76,8.76,0,1,1,0,17.52Zm359.42,3.06L506,87.79H496L476.49,64,457,87.79H447L471.5,57.86,448.34,29.55h10L476.5,51.76l18.17-22.21h10Z"
						  transform="translate(-19.68 -28.16)"></path>
				</svg>
			</div>
			{% endcomment %}
		{% endif %}
	</a>
{% else %}
	<a class="site-name" href="/">{{ shop.name }}</a>
{% endif %}
<!-- End shop logo -->

